{% set latestCssLoaded = (cssLoaded and cssLoaded == '/index.css') %}

<!DOCTYPE html>
{% if not fontsLoaded %}
<html lang="en">
{% else %}
<html lang="en" class="fonts-loaded">
{% endif %}
<head>
    {% include './app-meta.html' %}

    {% if not latestCssLoaded or not fontsLoaded %}
    <script data-cookie-helper>
        {% include "assets/js/vendor/cookie.min.js" %}
    </script>
    {% endif %}

    <script defer src="/index.js"></script>

    {% if forceRepeatView or latestCssLoaded %}
    <link href="/index.css" rel="stylesheet">
    {% else %}
        {% include './load-css.html' %}
    {% endif %}

    {% if not fontsLoaded %}
        {% include './load-fonts.html' %}
    {% endif %}

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

{% block body %}{% endblock %}
{% block scripts_extra %}{% endblock %}

<template data-outdated-message-template>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p><strong>Warning!</strong> This page is updated! <a class="btn btn-primary" data-outdated-message-link>Update!</a></p>
    </div>
</template>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-twerker.js')
            .then(function(registration) { return registration.update(); });
    }


    (function(){
        'use strict';

        if('serviceWorker' in navigator) {
            navigator.serviceWorker.addEventListener('message', function (event) {
                // show notification if the outdated url is the same as current url
                var currentPageIsOutdated = (event.data.type === 'outdated' && event.data.url === window.location.href);
                if (currentPageIsOutdated) {
                    showMessage();
                }
            }, false);
        }

        function showMessage() {
            var body = document.body;
            var template = document.querySelector('[data-outdated-message-template]');
            var message = document.importNode(template.content, true);
            message.querySelector('[data-outdated-message-link]').href = window.location.href;
            body.insertBefore(message, body.firstChild);
        }
    }());

</script>

</body>
</html>
